.button-tense {
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  padding: 8px 20px;
  border-radius: 50px;
  width: 246px;
  transition: background 0.3s;
}

.button-tense:hover {
  cursor: pointer;
}

.button-tense.is-active {
  background-color: var(--pinkTransparant-color);
}
