.button-preset {
  border-radius: 20px;
  background: var(--darkBeige-color);
  padding: 14px 20px;
  display: table;
  transition: background 0.3s;
}

.button-preset input {
  outline: none;
}

.button-preset label {
  font-size: 21px;
  font-weight: 700;
}

.button-preset:hover {
  background-color: var(--khaki-color);
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}
