.button-mode {
  border-radius: 20px;
  background: var(--darkBeige-color);
  padding: 7px 16px;
  margin: 0 0 11px 10px;
  display: table;
}

.button-mode label {
  font-size: 32px;
  font-weight: 900;
}

@keyframes hoverHeader {
  from {
    background-color: var(--darkBeige-color);
  }
  to {
    background-color: var(--khaki-color);
  }
}

.button-mode:hover {
  animation: hoverHeader 0.3s ease-in-out forwards;
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}
