.button-help {
  font-size: 24px;
}

@keyframes hoverPink {
  from {
    color: var(--black-color);
  }
  to {
    color: var(--pink-color);
  }
}

.button-help:hover {
  animation: hoverPink 0.3s ease-in-out forwards;
  cursor: pointer;
}
