.button-title {
  border-radius: 20px;
  background: var(--white-color);
  border: 1px solid var(--black-color);
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
}

.button-title input {
  border: 0;
  width: 100%;
  font-size: 20px;
  outline: none;

  &::placeholder {
    font-family: "Nunito", sans-serif;
    color: var(--grey-color);
  }
}
