.button-bottombar {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  font-size: 32px;
  font-weight: 700;
  border-top: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  border-right: 1px solid var(--black-color);
}

.button-bottombar-last {
  border-right: none;
}

@keyframes hoverPink {
  from {
    color: var(--black-color);
  }
  to {
    color: var(--pink-color);
  }
}

.button-bottombar:hover {
  animation: hoverPink 0.3s ease-in-out forwards;
  cursor: pointer;
}
