.button-mode {
  border-radius: 20px;
  background: var(--darkBeige-color);
  padding: 7px 16px;
  margin: 0 0 11px 10px;
  display: table;
  transition: background 0.3s;
}

.button-mode label {
  font-size: 32px;
  font-weight: 900;
}

.button-mode:hover {
  background-color: var(--khaki-color);
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}
