.button-preset {
  border-radius: 20px;
  background: var(--darkBeige-color);
  padding: 14px 20px;
  display: table;
}
.button-preset label {
  font-size: 21px;
  font-weight: 700;
}

@keyframes hoverHeader {
  from {
    background-color: var(--darkBeige-color);
  }
  to {
    background-color: var(--khaki-color);
  }
}

.button-preset:hover {
  animation: hoverHeader 0.3s ease-in-out forwards;
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}
