.button-tuto {
  border-radius: 20px;
  background: var(--darkBeige-color);
  padding: 14px 20px;
  margin-bottom: 11px;
  display: table;
  transition: background 0.3s;
}

.button-tuto label {
  font-size: 21px;
  font-weight: 700;
}

.button-tuto:hover {
  background-color: var(--khaki-color);
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}
