.button-bottombar {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-size: 28px;
  font-weight: 700;
  border-top: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  border-right: 1px solid var(--black-color);
  transition: color 0.3s;
}

.button-bottombar-last {
  border-right: none;
}

.button-bottombar:hover {
  color: var(--pink-color);
  cursor: pointer;
}
