.button-mode {
  border-radius: 20px;
  background: var(--darkBeige-color);
  padding: 7px 16px;
  margin: 0 0 11px 10px;
  display: table;
}

.button-mode label {
  font-size: 32px;
  font-weight: 900;
}
