.filters {
  display: flex;
  justify-content: space-between;
  margin: 0 0 17px;
}

.filters .filter-add {
  color: var(--green-color);
}

.filters .filter-delete {
  color: var(--pink-color);
}

.filter-add:hover {
  text-decoration: underline 1px var(--green-color);
}

.filter-delete:hover {
  text-decoration: underline 1px var(--pink-color);
}
