.help-tense {
  padding: 15px;
  position: absolute;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.3);
  display: none;
  min-width: 180px;
}
