.section h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
}

.section h4 {
  font-size: 21px;
  font-weight: 700;
  margin: 2px 0 20px;
}

.section a {
  font-size: 18px;
  font-weight: 500;
}
