.switch {
  margin: 21px 0;
}

.switch label {
  font-size: 19px;
}

.switch-wrapper {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 47px;
  height: 21px;
  border-radius: 10px;
  background: var(--white-color);
  border: 1px solid var(--black-color);
  margin-right: 12px;
}

.switch-inner {
  position: relative;
  width: 25px;
  height: 25px;
  bottom: 3px;
  right: 1px;
  border-radius: 30px;
  background: var(--black-color);
}

@keyframes switchPosition {
  from {
    left: 0;
  }
  to {
    left: 23px;
  }
}

input:checked + .switch-wrapper .switch-inner {
  animation: switchPosition 0.2s ease-in-out forwards;
}

@keyframes switchColor {
  from {
    background: var(--white-color);
  }
  to {
    background: var(--pinkTransparant-color);
  }
}

input:checked + .switch-wrapper {
  animation: switchColor 0.3s ease-in-out forwards;
}

.switch input {
  display: none;
}
