.tense {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 6px;
}

.tense .button-tense {
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  padding: 8px 20px;
  border-radius: 50px;
  width: 246px;
}
