.top-nav {
  display: inline-flex;
  padding: 0;
  gap: 30px;
}

.top-nav .dropdown {
  position: relative;
  font-size: 22px;
  font-weight: 700;
}

.top-nav .dropdown-label:hover {
  cursor: pointer;
}
