<h3>Mes temps</h3>
<div class="l-card">
  <div class="filters">
    <a href="" class="filters filter-add">Tout ajouter</a>
    <a href="" class="filters filter-delete">Tout supprimer</a>
  </div>
  <div class="row">
    <div class="col-12"><h4>Indicatif</h4></div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Présent</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui exprime le fait ou l'action au moment où l'on parle.<br />
            <i>Exemple: je mange.</i>
          </div>
        </div>
      </div>
      <div class="tense">
        <div class="button button-tense">Passé composé</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui exprime le plus souvent une action brève et terminée.<br />
            <i>Exemple: j'ai mangé.</i>
          </div>
        </div>
      </div>
      <div class="tense">
        <div class="button button-tense">Futur</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui sert généralement à exprimer un fait qui aura lieu dans
            l'avenir.<br />
            <i>Exemple: je mangerai.</i>
          </div>
        </div>
      </div>
      <div class="tense">
        <div class="button button-tense">Passé simple</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui exprime un fait qui s'est produit dans le passé et qui est
            terminé.<br />
            <i>Exemple: je mangeai.</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Imparfait</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui présente une action réelle qui dure dans le passé. Il peut
            également exprimer le déroulement d'une action, une habitude, une
            répétition ou présenter une description.<br />
            <i>Exemple: je mangeais.</i>
          </div>
        </div>
      </div>
      <div class="tense">
        <div class="button button-tense">Plus-que-parfait</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui sert principalement à marquer l'aspect accompli d'un
            événement.<br />
            <i>Exemple: j'aurai mangé.</i>
          </div>
        </div>
      </div>
      <div class="tense">
        <div class="button button-tense">Futur antérieur</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui sert principalement à marquer l'aspect accompli d'un
            événement.<br />
            <i>Exemple: j'aurai mangé.</i>
          </div>
        </div>
      </div>
      <div class="tense">
        <div class="button button-tense">Passé antérieur</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui exprime une action terminée du passé qui s'est produite
            immédiatement avant une autre action passée, celle-ci souvent
            exprimée par un verbe au passé simple.<br />
            <i>Exemple: j'eus mangé.</i>
          </div>
        </div>
      </div>
    </div>
    <hr class="l-hr" />
    <div class="col-12"><h4>Impératif</h4></div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Présent</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui permet d'exprimer un ordre, donner un conseil ou faire une
            suggestion. Il n'existe qu'aux personnes : tu, nous et vous et ce,
            sans sujet exprimé.<br />
            <i>Exemple: mange.</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Passé</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui permet d'introduire une notion d'antériorité avant une
            autre action.<br />
            <i>Exemple: aie mangé.</i>
          </div>
        </div>
      </div>
    </div>
    <hr class="l-hr" />
    <div class="col-12"><h4>Subjonctif</h4></div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Présent</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui s'emploie dans la subordonnée si le verbe de la principale
            exprime le doute, l'improbabilité, la volonté, le désir, la défense,
            la nécessité, la possibilité, l'impossibilité ou un sentiment.<br />
            <i>Exemple: que je mange.</i>
          </div>
        </div>
      </div>
      <div class="tense">
        <div class="button button-tense">Imparfait</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui sert à exprimer une action incertaine, non réalisée au
            moment de l'énonciation.<br />
            <i>Exemple: que je mangeasse.</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Passé</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui exprime une action antérieure à l'action principale,
            contrairement au subjonctif présent qui est employé pour une action
            simultanée ou postérieure.<br />
            <i>Exemple: que j'aie mangé.</i>
          </div>
        </div>
      </div>
      <div class="tense">
        <div class="button button-tense">Plus-que-parfait</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui sert à exprimer un évènement terminé dans le passé qui
            s'est produit avant un autre évènement ou avant un moment précis.<br />
            <i>Exemple: que j'eusse mangé.</i>
          </div>
        </div>
      </div>
    </div>
    <hr class="l-hr" />
    <div class="col-12"><h4>Conditionnel</h4></div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Présent</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui sert à donner une information non confirmée, faire des
            hypothèses ou exprimer un souhait<br />
            <i>Exemple: je mangerais.</i>
          </div>
        </div>
      </div>
      <div class="tense">
        <div class="button button-tense">Passé 2</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui s'applique à une situation qui n'existe pas dans le
            présent et/ou n'existera pas dans le futur.<br />
            <i>Exemple: j'eusse mangé.</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Passé 1</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Temps qui sert à sert à exprimer un fait incertain ou un souhait
            dans un texte au passé.<br />
            <i>Exemple: j'aurais mangé.</i>
          </div>
        </div>
      </div>
    </div>
    <hr class="l-hr" />
    <div class="col-12"><h4>Participe</h4></div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Présent</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Forme modale qui exprime généralement une action se déroulant en
            même temps que l'action décrite par le verbe principal de la
            phrase.<br />
            <i>Exemple: mangeant.</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Passé</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question"></i>
          <div class="help-tense" data-help-tense>
            Forme modale qui permet la formation de nombreux temps composés en
            s'ajoutant aux auxiliaires être ou avoir.<br />
            <i>Exemple: mangé.</i>
          </div>
        </div>
      </div>
    </div>
    <hr class="l-hr" />
    <div class="col-12"><h4>Gérondif</h4></div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Présent</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Mode verbal employé pour exprimer deux actions qui ont lieu en même
            temps. Il est toujours introduit par la préposition "en".<br />
            <i>Exemple: en mangeant.</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="tense">
        <div class="button button-tense">Passé</div>
        <div class="button button-help" data-button-help>
          <i class="fa-regular fa-circle-question help-tense-circle"></i>
          <div class="help-tense" data-help-tense>
            Mode verbal employé pour exprimer deux actions qui ont lieu en même
            temps dans un texte au passé. Il est toujours introduit par la
            préposition "en" et l'auxiliaire être ou avoir.<br />
            <i>Exemple: en ayant mangeant.</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
