<nav class="top-nav">
  <div class="dropdown dropdown-years" data-dropdown>
    <div class="dropdown-label dropdown-label-years" data-dropdown-label>
      Par année <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="menu menu-years" data-dropdown-menu>
      <ul>
        <li>
          <div class="dropdown dropdown-5p">
            <div class="dropdown-label dropdown-label-5p">
              5P <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu menu-5p">
              <ul>
                <li class="dropdown-label">
                  Tous les verbes <span class="quantity">23</span>
                </li>
                <hr />
                <li class="dropdown-label">1 verbe au hasard</li>
                <li class="dropdown-label">5 verbes au hasard</li>
                <li class="dropdown-label">10 verbes au hasard</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown dropdown-6p">
            <div class="dropdown-label dropdown-label-6p">
              6P <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu menu-6p">
              <ul>
                <li class="">
                  Tous les verbes <span class="quantity">23</span>
                </li>
                <hr />
                <li class="dropdown-label">1 verbe au hasard</li>
                <li class="dropdown-label">5 verbes au hasard</li>
                <li class="dropdown-label">10 verbes au hasard</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown dropdown-7h">
            <div class="dropdown-label dropdown-label-7h">
              7H <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu menu-7h">
              <ul>
                <li class="">
                  Tous les verbes <span class="quantity">23</span>
                </li>
                <hr />
                <li class="dropdown-label">1 verbe au hasard</li>
                <li class="dropdown-label">5 verbes au hasard</li>
                <li class="dropdown-label">10 verbes au hasard</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown dropdown-8h">
            <div class="dropdown-label dropdown-label-8h">
              8H <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu menu-8h">
              <ul>
                <li class="">
                  Tous les verbes <span class="quantity">34</span>
                </li>
                <hr />
                <li class="dropdown-label">1 verbe au hasard</li>
                <li class="dropdown-label">5 verbes au hasard</li>
                <li class="dropdown-label">10 verbes au hasard</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown dropdown-9h">
            <div class="dropdown-label dropdown-label-9h">
              9H <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu menu-9h">
              <ul>
                <li class="">
                  Tous les verbes <span class="quantity">43</span>
                </li>
                <hr />
                <li class="dropdown-label">1 verbe au hasard</li>
                <li class="dropdown-label">5 verbes au hasard</li>
                <li class="dropdown-label">10 verbes au hasard</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown dropdown-10h">
            <div class="dropdown-label dropdown-label-10h">
              10H <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu menu-10h">
              <ul>
                <li class="">
                  Tous les verbes <span class="quantity">18</span>
                </li>
                <hr />
                <li class="dropdown-label">1 verbe au hasard</li>
                <li class="dropdown-label">5 verbes au hasard</li>
                <li class="dropdown-label">10 verbes au hasard</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown dropdown-11h">
            <div class="dropdown-label dropdown-label-11h">
              11H <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu menu-11h">
              <ul>
                <li class="">
                  Tous les verbes <span class="quantity">15</span>
                </li>
                <hr />
                <li class="dropdown-label">1 verbe au hasard</li>
                <li class="dropdown-label">5 verbes au hasard</li>
                <li class="dropdown-label">10 verbes au hasard</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="dropdown dropdown-groups" data-dropdown>
    <div class="dropdown-label dropdown-label-groups" data-dropdown-label>
      Par groupe <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="menu menu-groups" data-dropdown-menu>
      <ul>
        <li class="dropdown-label">
          1er groupe <span class="quantity">32</span>
        </li>
        <li class="dropdown-label">
          2ème groupe <span class="quantity">10</span>
        </li>
        <li class="dropdown-label">
          3ème groupe <span class="quantity">80</span>
        </li>
        <hr />
        <li class="dropdown-label">3ème groupe (-ir)</li>
        <li class="dropdown-label">3ème groupe (-oir)</li>
        <li class="dropdown-label">3ème groupe (-oire, -aire, -dre, etc.)</li>
      </ul>
    </div>
  </div>
  <div class="dropdown dropdown-difficult" data-dropdown>
    <div class="dropdown-label dropdown-label-difficult" data-dropdown-label>
      Verbes difficiles <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="menu menu-difficult" data-dropdown-menu>
      <ul>
        <li class="dropdown-label">-ger <span class="quantity">22</span></li>
        <li class="dropdown-label">-cer <span class="quantity">14</span></li>
        <li class="dropdown-label">
          -ger + -cer <span class="quantity">36</span>
        </li>
        <hr />
        <li class="dropdown-label">Rares <span class="quantity">14</span></li>
        <li class="dropdown-label">
          Difficiles <span class="quantity">20</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="dropdown dropdown-pronominal" data-dropdown>
    <div class="dropdown-label dropdown-label-pronominal" data-dropdown-label>
      Verbes pronominaux <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="menu menu-pronominal" data-dropdown-menu>
      <ul>
        <li class="dropdown-label">Tous <span class="quantity">37</span></li>
        <hr />
        <li class="dropdown-label">1 verbe au hasard</li>
        <li class="dropdown-label">5 verbes au hasard</li>
        <li class="dropdown-label">10 verbes au hasard</li>
      </ul>
    </div>
  </div>
  <div class="dropdown dropdown-cif" data-dropdown>
    <div class="dropdown-label dropdown-label-cif" data-dropdown-label>
      CIF (FLE) <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="menu menu-cif" data-dropdown-menu>
      <ul>
        <li class="dropdown-label">Être, avoir, aller et faire au présent</li>
        <li class="dropdown-label">10 verbes essentiels au présent</li>
      </ul>
    </div>
  </div>
</nav>
