.l-header {
  background-color: var(--beige-color);
  padding: 45px 40px 20px;
}

.l-nav {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(118, 171, 101, 0.4);
  margin: 32px 0 69px;
  padding: 20px 0;
}

.l-main {
  background-color: var(--pastelGreen-color);
  padding: 0 40px 64px;
}

.l-hr {
  opacity: 0%;
  padding: 50px 0 0;
}

.l-card {
  border-radius: 20px;
  background-color: var(--white-color);
  padding: 20px 25px 28px;
  margin-bottom: 46px;
}

.l-bottombar {
  background-color: var(--white-color);
}

.l-footer {
  background-color: var(--beige-color);
}
