.l-header {
  background-color: var(--beige-color);
}

.l-nav {
  border-radius: 20px;
  background-color: rgba(118, 171, 101, 0.4);
}

.l-main {
  background-color: var(--pastelGreen-color);
}

.l-card {
  border-radius: 20px;
  background-color: var(--white-color);
}

.l-bottombar {
  background-color: var(--white-color);
}

.l-footer {
  background-color: var(--beige-color);
}
