@import "base";
@import "layout";
@import "bootstrap/scss/bootstrap-grid";
@import "modules/logo";
@import "modules/subtitle";
@import "modules/buttonTuto";
@import "modules/buttonHeader";
@import "modules/buttonPreset";
@import "modules/codeInput";
@import "modules/topNav";
@import "modules/section";
@import "modules/filters";
@import "modules/buttonVerb";
@import "modules/tense";
@import "modules/select";
@import "modules/buttonTitle";
@import "modules/switch";
@import "modules/note";
@import "modules/buttonBottomBar";
@import "modules/bottomBar";
@import "modules/footerContent";
@import "modules/buttonMode";
@import "modules/buttonTense";
@import "modules/buttonHelp";
@import "modules/menu";
@import "modules/helpTense";
@import "modules/buttonDropdown";
@import "modules/dropdownList";
